
#MainHeader{
    
    background-color: #e50914;
    height: 70px;
    display: flex;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Footer{
    display: flex;
    padding-top: 30px;
    height: 100px;
    width:100%;
    background-color: rgba(0,0,0,.75);
}